<div class="panel panel-default dividas">
    <div class="panel-heading">
        <h4 class="panel-title">Lista de dívidas</h4>
    </div><!-- panel-heading -->
    <div class="panel-body">
        {% if dividas|length > 0 %}
        <div class="table-responsive">
            
            <table class="table mb30">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Loja</th>
                        <th>Valor original</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for divida in dividas %}
                    <tr>
                        <td>{{ divida.cliente.getNome() }}</td>
                        <td>{{ divida.getLoja().getNome() }}</td>
                        <td>{{ "R$ " ~ divida.getValor()|number_format(2, ',', '.') }}</td>
                        <td><a href="javascript:detalhesDivida('{{ divida.getId() }}')">Ver Detalhes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="mb20">Nenhuma dívida foi encontrada para o CPF.</p>        
        {% endif %}
    </div><!-- panel-body -->
</div>