<div class="panel panel-default dividas">
    <div class="panel-heading">
        <h4 class="panel-title">Cliente não Encontrado</h4>
    </div><!-- panel-heading -->
    <div class="panel-body">
        <p class="mb20">Nenhum cliente encontrado com este CPF</p>
    </div><!-- panel-body -->
</div>